{% comment %}
  Renders a customizable collection card.

  Accepts:
  - collection: {Object} Collection object
  - image: {Object} Image object. Optional. If present, overrides the collection's image.
  - title: {Boolean} Show title. Default: true
  - description: {Boolean} Show description. Default: true
  - button: {Boolean} Show button. Default: true
  - overlay: {Boolean} Show overlay. Default: true
  - button_text: {String} Override button text. Optional.
  - class: {String} Extra CSS classes. Optional.
  - ratio: {Number} Optional. The ratio to display the card at.
  - columns {Number} Optional. The number of columns the card is rendered in.
  - id: {String} Optional. HTML id.
  - card_clickable_desktop: {Boolean} Optional. Whether the card should be clickable on desktop.
  - settings: {Object} Optional. The card settings.
  - settings.box_align: {String} Content alignment for desktop.
  - settings.mobile_box_align: {String} Content alignment for mobile.
  - settings.heading_size: {String} Title size for desktop.
  - settings.mobile_heading_size: {String} Title size for mobile.
  - settings.text_color: {String} Title size for mobile.
  - lazyload: {Boolean} Whether to lazy load the main thumbnail.

  Usage:
  {% render 'card-collection-info' collection: collection, image: image %}
{% endcomment %}

{% liquid
  if lazyload == true
    assign lazy = 'lazy'
  endif
%}

{%- assign forloopindex = id | split: '-' | last -%}

<div
    data-aos="flip-left" data-aos-duration="500" data-aos-delay="{{ forloopindex | times: 100 }}"
  {% if id != blank %}
    id="{{ id }}"
  {% endif %}
  class="card-overlay {% unless overlay == false %}card-overlay-on{% else %}card-overlay-off{% endunless %} {% if card_clickable_desktop %}card-pointer-all{% endif %} {{ class }}"
  {% unless ratio == null or ratio == 0 %}
    style="--ratio-percent: {{ 1 | divided_by: ratio | times: 100 }}%;"
  {% endunless %}
>
  <a href="{{ collection.url }}">
    {%- capture image_sizes -%}
			{% if columns == 1 %}
				(min-width: 1420px) 1420px, calc(100vw - 3rem)
			{% else %}
				(min-width: 1200px) calc((100vw - 6rem) / 2), (min-width: 990px) calc((100vw - 6rem) * 0.6), (min-width: 750px) calc(100vw - 4rem), calc(100vw - 3rem)
			{% endif %}
		{%- endcapture -%}
    {% if image != blank %}
      {{
        image
        | image_url: width: 1420
        | image_tag:
          class: 'card-overlay-media',
          loading: lazy,
          sizes: image_sizes,
          widths: '165, 440, 650, 850, 1100, 1200, 1420'
      }}
    {% elsif collection.featured_image %}
      {{
        collection.featured_image
        | image_url: width: 1420
        | image_tag:
          class: 'card-overlay-media',
          loading: lazy,
          sizes: image_sizes,
          widths: '165, 440, 650, 850, 1100, 1200, 1420'
      }}
    {% else %}
      {{ 'collection-1' | strip | placeholder_svg_tag: 'card-overlay-media' }}
    {% endif %}

    {% unless title == false %}
      <span class="visually-hidden">{{ collection.title }}</span>
    {% endunless %}
  </a>

  <div
    class="card-overlay-info content-align-{{ settings.mobile_box_align }} content-align-desktop-{{ settings.box_align }}"
    style="color: {{ settings.text_color }}"
  >
    {%- unless title == false -%}
      <h3
        id="Block-{{ id }}"
        class="card-overlay-heading card-overlay-heading-{{ settings.mobile_heading_size }} card-overlay-heading-desktop-{{ settings.heading_size }}"
      >
        {%- if collection.title -%}
          <a href="{{ collection.url }}">{{ collection.title }}</a>
        {%- else -%}
          {{ 'onboarding.collection_title' | t }}
        {%- endif -%}
      </h3>
    {%- endunless -%}

    {%- unless description == false or collection.description == blank -%}
      <div class="card-overlay-caption">
        {{ collection.description }}
      </div>
    {%- endunless -%}

    {%- unless button == false -%}
      <a
        class="{% if settings.button_type_link %}button-text-link{% else %}button color-button-{{ settings.button_color_scheme }}{% endif %}"
        {% if collection.url == blank %}
          role="link" aria-disabled="true"
        {% else %}
          href="{{ collection.url }}"
        {% endif %}
      >
        {% if button_text != blank %}
          {{ button_text }}
        {% else %}
          {{
            'general.collection.shop_collection'
            | t: title: collection.title
          }}
        {% endif %}
      </a>
    {%- endunless -%}
  </div>
</div>
