{% comment %}
	Renders the header search form

	Usage:
	{% render 'header-search' %}
{% endcomment %}

<div class="head-slot-item header-search-global">
	{%- if settings.predictive_search_enabled -%}
		{%- capture result_types -%}
			product
			{%- if settings.predictive_search_queries -%},query{%- endif -%}
			{%- if settings.predictive_search_collections -%},collection{%- endif -%}
			{%- if settings.predictive_search_articles -%},article{%- endif -%}
			{%- if settings.predictive_search_pages -%},page{%- endif -%}
		{%- endcapture -%}
		<predictive-search class="header-search-global-component"
			data-loading-text="{{ 'accessibility.loading' | t }}"
			data-limit="{{ settings.predictive_search_limit }}"
			data-limit-scope="{{ settings.predictive_search_limit_scope }}"
			data-unavailable="{{ settings.predictive_search_unavailable }}"
			data-types="{{ result_types }}"
		>
	{%- endif -%}
		<form action="{{ routes.search_url }}" method="get" role="search" class="search header-search-global-form color-background-1">
			{%- if settings.search_filter_type != 'none' and settings.predictive_search_enabled -%}
				<div class="select-custom header-global-search-select">
					<select
						id="search-filter"
						name="search-filter"
						data-type="{{ settings.search_filter_type }}"
						class="header-global-search-categories"
					>
						{% if settings.search_filter_type == 'product_type' %}
							{% assign search_filter_label = 'sections.header_search.all_types' | t %}
							<option value="" selected="selected">{{ search_filter_label }}</option>
							{%- for product_type in shop.types -%}
								{%- if product_type != blank -%}
									<option value="{{ product_type | escape }}">{{ product_type | escape }}</option>
								{%- endif -%}
							{%- endfor -%}

						{% elsif settings.search_filter_type == 'vendor' %}
							{% assign search_filter_label = 'sections.header_search.all_vendors' | t %}
							<option value="" selected="selected">{{ search_filter_label }}</option>
							{%- for vendor in shop.vendors -%}
								<option value="{{ vendor | escape }}">{{ vendor | escape }}</option>
							{%- endfor -%}

						{% else %}
							{% assign search_filter_label = 'sections.header_search.all_tags' | t %}
							<option value="" selected="selected">{{ search_filter_label }}</option>
							{%- capture tags_string -%}
								{%- for collection in collections -%}
									{%- for tag in collection.all_tags -%}
										|{{ tag }}|
									{%- endfor -%}
								{%- endfor -%}
							{%- endcapture -%}
							{% assign tags_array = tags_string | split: '|' | uniq | sort %}
							{%- for tag in tags_array -%}
								{% assign tag = tag | strip %}
								{% if tag != blank %}
									<option value="{{ tag | escape }}">{{ tag | capitalize | escape }}</option>
								{% endif %}
							{%- endfor -%}
						{% endif %}
					</select>
					<label for="search-filter">
						{{ search_filter_label }}
					</label>
				</div>
			{%- endif -%}

			<input
				type="search"
				id="header-global-search-input"
				name="q"
				value=""
				placeholder="{{ 'sections.header_search.label' | t }}"
				class="header-global-search-input"
				{% if settings.predictive_search_enabled %}
					role="combobox"
					aria-expanded="false"
					aria-owns="predictive-search-results-list"
					aria-controls="predictive-search-results-list"
					aria-haspopup="listbox"
					aria-autocomplete="list"
					autocorrect="off"
					autocomplete="off"
					autocapitalize="off"
					spellcheck="false"
				{% endif %}
			>
			<label for="header-global-search-input" class="visually-hidden">{{ 'sections.header_search.label' | t }}</label>
			<input type="hidden" name="options[prefix]" value="last">
			<button type="submit" class="button icon-left">
				<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M19.4697 20.5303C19.7626 20.8232 20.2374 20.8232 20.5303 20.5303C20.8232 20.2374 20.8232 19.7626 20.5303 19.4697L19.4697 20.5303ZM16.3336 15.273C16.0407 14.9801 15.5659 14.9801 15.273 15.273C14.9801 15.5659 14.9801 16.0408 15.273 16.3336L16.3336 15.273ZM10.5 17.25C6.77208 17.25 3.75 14.2279 3.75 10.5H2.25C2.25 15.0563 5.94365 18.75 10.5 18.75V17.25ZM3.75 10.5C3.75 6.77208 6.77208 3.75 10.5 3.75V2.25C5.94365 2.25 2.25 5.94365 2.25 10.5H3.75ZM10.5 3.75C14.2279 3.75 17.25 6.77208 17.25 10.5H18.75C18.75 5.94365 15.0563 2.25 10.5 2.25V3.75ZM17.25 10.5C17.25 14.2279 14.2279 17.25 10.5 17.25V18.75C15.0563 18.75 18.75 15.0563 18.75 10.5H17.25ZM20.5303 19.4697L16.3336 15.273L15.273 16.3336L19.4697 20.5303L20.5303 19.4697Z"/>
				</svg>
				{{ 'sections.header_search.button_label' | t }}
			</button>

			{%- if settings.predictive_search_enabled -%}
				<div class="predictive-search predictive-search-header color-background-1" tabindex="-1" data-predictive-search>
					<div class="predictive-search-loading-state">
						<span class="spinner-sm"></span>
					</div>
				</div>

				<span class="predictive-search-status visually-hidden" role="status" aria-hidden="true"></span>
			{%- endif -%}
		</form>

	{%- if settings.predictive_search_enabled -%}
		</predictive-search>
	{%- endif -%}
</div>
