<div class="product-form-input">
    <label class="form-label" for="LineItemProperties-{{ section.id }}">{{ label }}</label>
    <select name="id" id="LineItemProperties-{{ section.id }}" class="select__select" form="{{ product_form_id }}">
        {%- assign options = option_list | split: ',' | compact %}
        {%- for _option in options -%}
            {%- assign option = _option | strip %}
            <option
                {% if forloop.first %}selected="selected"{% endif %}
                value="{{ option }}"
            >
                {{ option }}
            </option>
        {%- endfor -%}
    </select>
</div>