<!doctype html>
<html class="no-js" lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="utf-8">

    <title>
      {{ page_title }}
      {%- if current_tags %}
        &ndash; {% assign page_tags = current_tags | join: ', ' -%}
        {{- 'accessibility.page_title.tagged_as' | t: tags: page_tags -}}
      {%- endif -%}
      {%- if current_page != 1 %}
        &ndash;
        {{
          'accessibility.page_title.page_number'
          | t: page_number: current_page
        -}}
      {%- endif -%}
      {%- unless page_title contains shop.name %}
        &ndash; {{ shop.name -}}
      {%- endunless -%}
    </title>

    {% if page_description %}
      <meta name="description" content="{{ page_description | escape }}">
    {% endif %}

    {% render 'meta-tags' %}

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="canonical" href="{{ canonical_url }}">

    <link rel="preconnect" href="//cdn.shopify.com" crossorigin>

    {%- if settings.enable_custom_font -%}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    {%- case settings.custom_font -%}
      {%- when 'wix-madefor-text' -%}
        <link href="https://fonts.googleapis.com/css2?family=Wix+Madefor+Text:ital,wght@0,400..800;1,400..800&display=swap" rel="stylesheet">
    {%- endcase %}

    {%- else -%}

    {% unless settings.typography_headings.system?
      and settings.typography_body.system?
    %}
      <link rel="preconnect" href="//fonts.shopifycdn.com" crossorigin>
    {% endunless %}

    {% comment %}theme-check-disable AssetPreload{% endcomment %}
    {% unless settings.typography_body.system? %}
      <link
        rel="preload"
        as="font"
        href="{{ settings.typography_body | font_url }}"
        type="font/woff2"
        crossorigin
      >
    {% endunless %}
    {% unless settings.typography_headings.system? %}
      <link
        rel="preload"
        as="font"
        href="{{ settings.typography_headings | font_url }}"
        type="font/woff2"
        crossorigin
      >
    {% endunless %}
    {% comment %}theme-check-enable AssetPreload{% endcomment %}

    {%- endif -%}

    {% render 'head-css' %}

    {{ 'base.css' | asset_url | stylesheet_tag }}
    {{ 'niccos.css' | asset_url | stylesheet_tag }}

    <script src="{{ 'pubsub.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'scripts.js' | asset_url }}" defer="defer"></script>

    {% if settings.favicon != blank %}
      <link
        rel="icon"
        type="image/png"
        href="{{ settings.favicon | image_url: width: 32, height: 32 }}"
      >
    {% endif %}

    {% capture header_content %}{{ content_for_header }}{%- endcapture %}

    {% if product.metafields.custom.variant_search_collection.value != blank %}
      {{ header_content | remove: 'https:\/\/cdn.assortion.com\/app.js?shop=yhhp0m-pb.myshopify.com' }}
    {% else %}
      {{ header_content }}
    {% endif %}
    
    {% comment %} {% section 'niccos-header' %} {% endcomment %}

    <script>
      document.documentElement.className =
        document.documentElement.className.replace('no-js', 'js');
      if (Shopify.designMode) {
        document.documentElement.classList.add('shopify-design-mode');
      }
    </script>

    {%- if request.design_mode -%}
      {{ 'section-slideshow.css' | asset_url | stylesheet_tag }}
      {{ 'flickity.css' | asset_url | stylesheet_tag }}
      {{ 'component-scroller.css' | asset_url | stylesheet_tag }}
      {{ 'theme-editor.css' | asset_url | stylesheet_tag }}
      <script src="{{ 'flickity.pkgd.js' | asset_url }}" defer="defer"></script>
      <script
        src="{{ 'carousel-slider.js' | asset_url }}"
        defer="defer"
      ></script>
      <script src="{{ 'slideshow.js' | asset_url }}" defer="defer"></script>
      <script src="{{ 'map.js' | asset_url }}" defer="defer"></script>
      <script
        src="{{ 'recipient-form.js' | asset_url }}"
        defer="defer"
      ></script>
      <script src="{{ 'countdown.js' | asset_url }}" defer="defer"></script>
      <script
        src="{{ 'video-background.js' | asset_url }}"
        defer="defer"
      ></script>
      <script
        src="{{ 'image-hotspots.js' | asset_url }}"
        defer="defer"
      ></script>
      <script src="{{ 'text-slider.js' | asset_url }}" defer="defer"></script>
      <script src="{{ 'product-modal.js' | asset_url }}" defer="defer"></script>
      <script src="{{ 'media-gallery.js' | asset_url }}" defer="defer"></script>
      <script
        src="{{ 'product-request-information.js' | asset_url }}"
        defer="defer"
      ></script>
      <script src="{{ 'popup-overlay.js' | asset_url }}" defer="defer"></script>
      <script
        src="{{ 'scrolling-elements.js' | asset_url }}"
        defer="defer"
      ></script>
      <script src="{{ 'theme-editor.js' | asset_url }}" defer="defer"></script>
    {%- endif -%}

    <link rel="stylesheet" href="https://unpkg.com/aos@2.3.4/dist/aos.css">
  </head>

  <body class="template-{{ template.name }} setting-buttons-{{ settings.buttons_style }} settings-remove-ribbons-{{ settings.remove_card_ribbon }}">
    <a
      class="skip-link visually-hidden visually-hidden-focusable"
      href="#MainContent"
    >
      {{- 'accessibility.link_messages.skip_to_text' | t -}}
    </a>

    {% sections 'header-group' %}

    {% comment %} overflow-x: hidden !important; <--- to fix AOS horizontal overflow issue {% endcomment %}
    <main id="MainContent" class="main" role="main" tabindex="-1" style="overflow-x: hidden !important;">
      {% if settings.breadcrumbs_enabled %}
        {% render 'breadcrumb' %}
      {% endif %}

      {{ content_for_layout }}
    </main>

    <footer class="footer">
      {% sections 'footer-group' %}
      {% render 'header-mini-cart' %}
    </footer>

    {% sections 'overlays-group' %}

    {%- if settings.predictive_search_enabled -%}
      <script
        src="{{ 'predictive-search.js' | asset_url }}"
        defer="defer"
      ></script>
    {%- endif -%}

    <script src="https://unpkg.com/aos@2.3.4/dist/aos.js"></script>

    <script>
      window.scrollTo(0, window.scrollY)
      document.body.style.setProperty('overflow-x', 'hidden !important;');
      AOS.init({mirror:false, once: true});
    </script>
  </body>
</html>
