<div class="lb-swiper-stories">
  <div class="lb-swiper-stories-holder">
    {% for block in section.blocks %}
      <a href="{{ block.settings.url }}">
        <div {% if block.settings.highlight == true %}class="lb-swiper-highlight"{% endif %}>
          <img src="{{ block.settings.image | img_url: '200x' }}" alt="{{ block.settings.heading }}">
        </div>
        {{ block.settings.heading }}
      </a>
    {% endfor %}
  </div>
</div>

<style>
  {% assign schriftart = section.settings.schriftart %}
  {{ section.settings.schriftart | font_face }}

  .lb-swiper-stories {
    background: {{ section.settings.background-color }} !important;
    display: none;
  }

  @media only screen and (max-width: {{ section.settings.max-show-range }}px) {
    .lb-swiper-stories {
      display: block !important;
    }
  }

  .lb-swiper-stories-holder {
    max-width: 100% !important;
    padding: 18px 0 !important;
    margin: auto !important;
    text-align: center !important;
    overflow: auto !important;
    white-space: nowrap !important;
    -ms-overflow-style: none; /* IE und Edge */
    scrollbar-width: none; /* Firefox */
  }

  .lb-swiper-stories-holder::-webkit-scrollbar {
    display: none;
  }

  .lb-swiper-stories a:first-child {
    margin-left: 9px !important;
  }

  .lb-swiper-stories a {
    max-width: {{ section.settings.desktop-size }}px !important;
    width: 100% !important;
    display: inline-block !important;
    margin-right: {{ section.settings.desktop-distance }}px !important;
    font-size: {{ section.settings.fontsize }}px !important;
    line-height: 20px !important;
    color: {{ section.settings.schriftfarbe }} !important;
    font-weight: 600 !important;
    font-family: {{ section.settings.schriftart.family }}, {{ schriftart.fallback_families }} !important;
    text-decoration: none !important;
  }

  @media only screen and (max-width: 600px) {
    .lb-swiper-stories a {
      max-width: {{ section.settings.mobile-size }}% !important;
      margin-right: {{ section.settings.mobile-distance }}% !important;
    }
  }

  .lb-swiper-stories a div {
    display: block !important;
    width: 100% !important;
    margin-bottom: 5px !important;
    position: relative !important;
  }

  .lb-swiper-stories a div img {
    width: 100% !important;
    display: block !important;
    border-radius: {{ section.settings.abgerundete_ecken }}px !important;
    overflow: hidden !important;
  }

  .lb-swiper-highlight:after {
    content: ' ' !important;
    border: 1.5px solid {{ section.settings.highlight-color }} !important;
    border-radius: {{ section.settings.abgerundete_ecken }}px !important;
    z-index: 2 !important;
    width: 110% !important;
    height: 110% !important;
    position: absolute !important;
    top: -5% !important;
    left: -5% !important;
  }
</style>

{% schema %}
{
  "name": {
    "en": "Lb Storie Swiper",
    "de": "Lb Geschichten-Swiper"
  },
  "settings": [
    {
      "type": "header",
      "content": {
        "en": "Section Settings",
        "de": "Abschnittseinstellungen"
      }
    },
    {
      "type": "color",
      "id": "background-color",
      "default": "#f2f2f2",
      "label": {
        "en": "Background Color",
        "de": "Hintergrundfarbe"
      }
    },
    {
      "type": "text",
      "id": "max-show-range",
      "default": "2400",
      "label": {
        "en": "Maximum Display",
        "de": "Maximale Anzeige"
      }
    },
    {
      "type": "header",
      "content": {
        "en": "Link Settings",
        "de": "Link-Einstellungen"
      }
    },
    {
      "type": "range",
      "id": "abgerundete_ecken",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 100,
      "label": {
        "en": "Image Roundness",
        "de": "Bilder Abrundung"
      }
    },
    {
      "type": "range",
      "id": "desktop-size",
      "min": 50,
      "max": 150,
      "step": 1,
      "default": 92,
      "label": {
        "en": "Desktop Size in px",
        "de": "Desktop Größe in px"
      }
    },
    {
      "type": "range",
      "id": "desktop-distance",
      "min": 0,
      "max": 60,
      "step": 1,
      "default": 9,
      "label": {
        "en": "Desktop distance right in px",
        "de": "Desktop Abstand nach Rechts in px"
      }
    },
    {
      "type": "range",
      "id": "mobile-size",
      "min": 13,
      "max": 36,
      "step": 1,
      "default": 20,
      "label": {
        "en": "Mobile Size in %",
        "de": "Mobile Größe in %"
      }
    },
    {
      "type": "range",
      "id": "mobile-distance",
      "min": 0,
      "max": 10,
      "step": 1,
      "default": 2,
      "label": {
        "en": "Mobile distance right in %",
        "de": "Mobiler Abstand nach Rechts in %"
      }
    },
    {
      "type": "font_picker",
      "id": "schriftart",
      "default": "sans-serif",
      "label": {
        "en": "Font",
        "de": "Schriftart"
      }
    },
    {
      "type": "range",
      "id": "fontsize",
      "min": 6,
      "max": 24,
      "step": 1,
      "default": 12,
      "label": {
        "en": "Font Size",
        "de": "Schriftgröße"
      }
    },
    {
      "type": "color",
      "id": "schriftfarbe",
      "default": "#000",
      "label": {
        "en": "Font Color",
        "de": "Schriftfarbe"
      }
    },
    {
      "type": "color",
      "id": "highlight-color",
      "default": "#c4258d",
      "label": {
        "en": "Image Border Color",
        "de": "Bildumrandung Farbe"
      }
    }
  ],
  "blocks": [
    {
      "name": {
        "en": "Category",
        "de": "Kategorie"
      },
      "type": "category",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": {
            "en": "Display Image",
            "de": "Anzeigebild"
          }
        },
        {
          "type": "text",
          "id": "heading",
          "default": "Link Name",
          "label": {
            "en": "Link Name",
            "de": "Linkname"
          }
        },
        {
          "type": "url",
          "id": "url",
          "label": {
            "en": "Link URL",
            "de": "Link-URL"
          }
        },
        {
          "type": "checkbox",
          "id": "highlight",
          "label": {
            "en": "Highlight Link",
            "de": "Link hervorheben"
          }
        }
      ]
    }
  ]
}
{% endschema %}
