{%- if section.blocks.size > 1 -%}
	{{ 'flickity.css' | asset_url | stylesheet_tag }}
{%- endif -%}
{{ 'section-slideshow.css' | asset_url | stylesheet_tag }}

{%- if section.blocks.size > 1 -%}
	<script src="{{ 'flickity.pkgd.js' | asset_url }}" defer="defer"></script>
	<script src="{{ 'slideshow.js' | asset_url }}" defer="defer"></script>
{% endif %}

{% liquid
    assign block_section_class = 'block-section'
    unless section.settings.color_scheme == 'background-1'
        assign block_section_class = block_section_class | append: ' block-section-padded'
    endunless
%}

<style>
    {% if section.settings.show_on_desktop == false %}
    @media (min-width: 990px) {
        #Slideshow-{{ section.id }} {
            display: none !important;
        }
    }
    {% endif %}
    
    {% if section.settings.show_on_tablet == false %}
    @media (min-width: 750px) and (max-width: 989px) {
        #Slideshow-{{ section.id }} {
            display: none !important;
        }
    }
    {% endif %}
    
    {% if section.settings.show_on_mobile == false %}
    @media (max-width: 749px) {
        #Slideshow-{{ section.id }} {
            display: none !important;
        }
    }
    {% endif %}
</style>

<div class="color-{{ section.settings.color_scheme }}">
    <div class="{% if section.settings.full_width %} block-section-fullwidth{% else %} container{% endif %}">
        <div class="{{ block_section_class }}">
            <div class="slideshow slideshow-size-{{ section.settings.slide_height }}" id="Slideshow-{{ section.id }}">
                {%- for block in section.blocks -%}
                    <div class="slideshow-slide color-background-1" id="Slide-{{ section.id }}-{{ forloop.index }}">
                        <div class="slideshow-media">
                            {%- if block.settings.image -%}
                                <a href="{{ block.settings.link }}" {% if block.settings.link == blank %}style="pointer-events: none;"{% endif %}>
                                    <img src="{{ block.settings.image | image_url }}" alt="{{ block.settings.image.alt | escape }}">
                                </a>
                            {%- endif -%}
                        </div>
                    </div>
                {%- endfor -%}
            </div>
        </div>
    </div>
</div>

{% schema %}
{
    "name": "HSS Slideshow",
    "tag": "section",
    "class": "section", 
    "settings": [
        {
            "type": "checkbox",
            "id": "full_width",
            "label": "Full Width",
            "default": false
        },
        {
            "type": "checkbox",
            "id": "show_on_desktop",
            "label": "Show on Desktop",
            "default": true
        },
        {
            "type": "checkbox",
            "id": "show_on_tablet",
            "label": "Show on Tablet",
            "default": true
        },
        {
            "type": "checkbox",
            "id": "show_on_mobile",
            "label": "Show on Mobile",
            "default": true
        }
    ],
    "blocks": [
        {
            "type": "slide",
            "name": "Slide",
            "settings": [
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "Slide Image"
                },
                {
                    "type": "url",
                    "id": "link",
                    "label": "Slide Link"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "HSS Slideshow",
            "category": "Custom Content",
            "blocks": [
                {
                    "type": "slide"
                }
            ]
        }
    ]
}
{% endschema %}
