<div class="hss-promo-carousel">
  <div class="hss-promo-carousel-holder" id="carousel-{{ section.id }}">
    {% if section.blocks.size > 0 %}
      {% for block in section.blocks %}
        <a href="{{ block.settings.url }}" class="hss-promo-item-wrapper">
          <div class="hss-promo-item">
            <div class="hss-promo-image">
              <div class="hexagon">
                {% if block.settings.image %}
                  <div class="hexagon-img-wrapper">
                    <a href="{{ block.settings.url }}">
                      <img class="hexagon-img" src="{{ block.settings.image | img_url: '200x' }}" alt="{{ block.settings.heading }}">
                    </a>
                  </div>
                {% else %}
                  <div class="hss-placeholder">+</div>
                {% endif %}
              </div>
            </div>
            <div class="hss-promo-title-wrapper">
              <span class="hss-promo-title">{{ block.settings.heading }}</span>
            </div>
          </div>
        </a>
      {% endfor %}
    {% else %}
      <p class="hss-no-content">⚠️ Keine Kategorien hinzugefügt. Bitte im Shopify-Editor Blöcke hinzufügen.</p>
    {% endif %}
  </div>
  <div class="slider-nav">
    <button class="prev">&larr;</button>
    <button class="next">&rarr;</button>
  </div>
</div>
