{{ 'template-collection.css' | asset_url | stylesheet_tag }}
{{ 'component-facets.css' | asset_url | stylesheet_tag }}
{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}
{{ 'component-tooltip.css' | asset_url | stylesheet_tag }}
{{ 'component-rating.css' | asset_url | stylesheet_tag }}

<div class="container">
	<div class="block-section">

		{% if collection.all_products_count > 0 %}

			{%- if section.settings.enable_filtering or section.settings.enable_sorting -%}
				<script src="{{ 'facets.js' | asset_url }}" defer="defer"></script>
			{%- endif -%}

			{% if section.settings.side_menu == blank and section.settings.enable_filtering == false or collection.filters == empty %}
				{% assign renders_filters = false %}
			{% else %}
				{% assign renders_filters = true %}
			{% endif %}

			<facet-filters-form>
				<form id="FacetsFilterForm" class="facets-form"></form>
				<div
					{% if renders_filters == true %}
						class="facets-wrap page-layout-with-sidebar page-layout-with-sidebar-drawer"
					{% else %}
						class="facets-wrap page-layout page-layout-fullwidth"
					{% endif %}
				>
					{% if renders_filters %}
						{% render 'collection-filters',
							filters_enabled: section.settings.enable_filtering,
							results: collection,
							side_menu_title: section.settings.side_menu_title,
							side_menu: section.settings.side_menu,
							hide_empty_filters: section.settings.hide_empty_filters,
                            section_cust: section.settings
						%}
					{% endif %}

					<div class="page-layout-main-content">

						{%- if collection.current_vendor -%}
							<input type="hidden" name="q" value="{{ collection.current_vendor | escape }}" form="FacetsFilterForm">
						{%- elsif collection.current_type -%}
							<input type="hidden" name="q" value="{{ collection.current_type | escape }}" form="FacetsFilterForm">
						{%- endif -%}

						{% render 'collection-actions',
							results: collection,
							enable_product_count: section.settings.show_product_count,
							enable_sorting: section.settings.enable_sorting,
							enable_filters: renders_filters,
							color_scheme: section.settings.filters_bar_color_scheme,
							sticky: section.settings.filters_bar_sticky
						%}

						<div id="ProductGridContainer">
							{%- paginate collection.products by section.settings.products_per_page -%}
								{%- if collection.products.size == 0 -%}
									<div id="product-grid" class="collection collection-empty" data-id="{{ section.id }}">
										<div class="loading-overlay"></div>
										<h2>{{ 'templates.collection.no_products_title' | t }}</h2>
										<p>{{ 'templates.collection.use_fewer_filters_html' | t: link: collection.url, class: 'button-text-link' }}</p>
									</div>
								{% else %}
									{% assign event_context = ' - Collection: ' | append: collection.title %}
									<div class="collection">
										<div class="loading-overlay"></div>
										<ul
											id="product-grid"
											class="product-grid
												grid
												{% if settings.products_two_column_mobile %}grid-2-col{% else %}grid-1-col{% endif %}
												grid-3-col-tablet
												{% if section.settings.desktop_product_columns == '4' %} grid-4-col-desktop{% endif %}
												{% if section.settings.desktop_product_columns == '5' %} grid-compact grid-5-col-desktop{% endif %}"
											data-id="{{ section.id }}"
										>

											{% for product in collection.products %}
												{% liquid
													assign lazyload = false
													if forloop.index > 4
														assign lazyload = true
													endif
												%}

												<li class="grid-item">
													{% render 'card-product',
														card_product: product,
														show_vendor: section.settings.show_vendor,
														show_stock: section.settings.show_stock,
														show_rating: section.settings.show_rating,
														show_add_to_cart: settings.products_show_add_to_cart,
														mobile_two_columns: settings.products_two_column_mobile,
														event_context: event_context,
														lazyload: lazyload,
                            forloopindex: forloop.index,
                            max_columns: section.settings.desktop_product_columns
													%}
												</li>
											{% endfor %}
										</ul>
									</div>
								{% endif %}

								{%- if paginate.pages > 1 -%}
									{%- if settings.products_pagination == "ajax" -%}
										<ajax-paginate>
									{%- endif -%}
										{% render 'pagination', paginate: paginate, anchor: '' %}
									{%- if settings.products_pagination == "ajax" -%}
										</ajax-paginate>
									{%- endif -%}
								{%- endif -%}
							{% endpaginate %}
						</div>

					</div>
				</div>
			</facet-filters-form>

		{% else %}

			<div class="page-hero page-hero-empty">
				<div class="page-hero-caption">
					{{ 'templates.collection.empty' | t }}
				</div>

				<a href="{{ routes.all_products_collection_url }}" class="button">
					{{ 'general.continue_shopping' | t }} {% render 'angle', direction: 'right' %}
				</a>
			</div>

		{% endif %}

	</div>
</div>

{% schema %}
{
  "name": "t:sections.main_collection_product_grid.name",
  "class": "section",
  "settings": [
    {
      "type": "range",
      "id": "products_per_page",
      "min": 6,
      "max": 48,
      "step": 1,
      "default": 24,
      "label": "t:sections.main_collection_product_grid.settings.products_per_page.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.layout.heading"
    },
    {
      "type": "select",
      "id": "desktop_product_columns",
      "label": "t:sections.all.layout.desktop_columns.label",
      "info": "t:sections.main_collection_product_grid.settings.desktop_product_columns.info",
      "default": "4",
      "options": [
        {
          "value": "3",
          "label": "3"
        },
        {
          "value": "4",
          "label": "4"
        },
        {
          "value": "5",
          "label": "5"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:sections.main_collection_product_grid.settings.header_2.content"
    },
    {
      "type": "checkbox",
      "id": "enable_filtering",
      "default": true,
      "label": "t:sections.main_collection_product_grid.settings.enable_filtering.label",
      "info": "t:sections.main_collection_product_grid.settings.enable_filtering.info"
    },
    {
      "type": "checkbox",
      "id": "show_product_count",
      "default": true,
      "label": "t:sections.main_collection_product_grid.settings.show_product_count.label"
    },
    {
      "type": "checkbox",
      "id": "enable_sorting",
      "default": true,
      "label": "t:sections.main_collection_product_grid.settings.enable_sorting.label"
    },
    {
      "type": "checkbox",
      "id": "hide_empty_filters",
      "default": false,
      "label": "t:sections.main_collection_product_grid.settings.hide_empty_filters.label",
      "info": "t:sections.main_collection_product_grid.settings.hide_empty_filters.info"
    },
    {
      "type": "checkbox",
      "id": "filters_bar_sticky",
      "default": false,
      "label": "t:sections.all.layout.filters_bar_sticky.label",
      "info": "t:sections.all.layout.filters_bar_sticky.info"
    },
    {
      "type": "select",
      "id": "filters_bar_color_scheme",
      "label": "t:sections.main_collection_product_grid.settings.filters_bar_color_scheme.label",
      "default": "background-2",
      "options": [
        {
          "value": "accent-1",
          "label": "t:sections.all.colors.accent_1.label"
        },
        {
          "value": "accent-2",
          "label": "t:sections.all.colors.accent_2.label"
        },
        {
          "value": "accent-3",
          "label": "t:sections.all.colors.accent_3.label"
        },
        {
          "value": "background-1",
          "label": "t:sections.all.colors.background_1.label"
        },
        {
          "value": "background-2",
          "label": "t:sections.all.colors.background_2.label"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:sections.main_search.settings.header_3.content"
    },
    {
      "type": "checkbox",
      "id": "show_vendor",
      "default": true,
      "label": "t:sections.main_collection_product_grid.settings.show_vendor.label"
    },
    {
      "type": "checkbox",
      "id": "show_stock",
      "default": true,
      "label": "t:sections.main_collection_product_grid.settings.show_stock.label"
    },
    {
      "type": "checkbox",
      "id": "show_rating",
      "default": false,
      "label": "t:sections.main_collection_product_grid.settings.show_rating.label",
      "info": "t:sections.main_collection_product_grid.settings.show_rating.info"
    },
    {
      "type": "header",
      "content": "t:sections.main_collection_product_grid.settings.header_1.content"
    },
    {
      "type": "text",
      "id": "side_menu_title",
      "label": "t:sections.main_collection_product_grid.settings.side_menu_title.label",
      "default": "Collections"
    },
    {
      "type": "link_list",
      "id": "side_menu",
      "label": "t:sections.main_collection_product_grid.settings.side_menu.label"
    },
    {
      "type": "header",
      "content": "Side Bar Custom Section "
    },
    {
      "type": "checkbox",
      "id": "cust_section_show",
      "label": "Show Contact Details",
      "default": true
    },
     {
      "type": "text",
      "id": "cust_subheading",
      "label": "Sub Heading",
      "default": "Subtitle Aktion"
    },
     {
      "type": "text",
      "id": "cust_heading",
      "label": "Heading",
      "default": "Lorem ipsum dolor sit amet"
    },
    {
      "type": "text",
      "id": "cust_button",
      "label": "Button Text",
      "default": "Button Text"
    },
    {
      "type": "url",
      "id": "cust_button_link",
      "label": "Button Link"
    },
    {
      "type": "image_picker",
       "id": "cust_image",
      "label": "Image"
    },
     {
      "type": "header",
      "content": "Side Bar Custom Contact Details"
    },
    {
      "type": "checkbox",
      "id": "cust_contact_show",
      "label": "Show Contact Details",
      "default": false
    },
     {
      "type": "text",
      "id": "cust_contact_title",
      "label": "Heading",
      "default": "Du Hast Rückfragen? Kontaktiere unser support-team!"
    },
    {
      "type": "text",
      "id": "cust_contact_number",
      "label": "Phone Number",
      "default": "+49 1234 567890"
    },
     {
      "type": "text",
      "id": "cust_contact_mail",
      "label": "Email",
      "default": "support@firmenname.de"
    }
  ]
}
{% endschema %}
