{{ 'template-collection.css' | asset_url | stylesheet_tag }}
{{ 'component-facets.css' | asset_url | stylesheet_tag }}
{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}
{{ 'component-tooltip.css' | asset_url | stylesheet_tag }}
{{ 'component-rating.css' | asset_url | stylesheet_tag }}

{%- if section.settings.enable_filtering or section.settings.enable_sorting -%}
	<script src="{{ 'facets.js' | asset_url }}" defer="defer"></script>
{%- endif -%}

<div class="container">
	<div class="block-section">
		<div class="template-search {% unless search.performed and search.results_count > 0 %} template-search-empty{% endunless %}">
			<div class="template-search-header">
				{% if search.performed == false %}
					<h1 class="page-title page-title-center">
						{{ 'templates.search.title' | t }}
					</h1>
				{% endif %}

				{% if search.performed and search.results_count == 0 and search.filters == empty %}
					<div class="page-hero page-hero-empty">
						<h1 class="page-hero-heading">
							{{ 'templates.search.no_results_title' | t }}
						</h1>

						<div class="page-hero-caption" role="status">
							{{ 'templates.search.no_results' | t: terms: search.terms }}
						</div>
					</div>
				{% endif %}

				{% if search.performed == false or search.performed and search.results_count == 0 and search.filters == empty %}
					<div class="template-search-search-bar">

						{%- if settings.predictive_search_enabled -%}
							{%- capture result_types -%}
								product
								{%- if settings.predictive_search_queries -%},query{%- endif -%}
								{%- if settings.predictive_search_collections -%},collection{%- endif -%}
								{%- if settings.predictive_search_articles -%},article{%- endif -%}
								{%- if settings.predictive_search_pages -%},page{%- endif -%}
							{%- endcapture -%}
							<predictive-search class="header-search-global-component"
								data-loading-text="{{ 'accessibility.loading' | t }}"
								data-limit="{{ settings.predictive_search_limit }}"
								data-limit-scope="{{ settings.predictive_search_limit_scope }}"
								data-unavailable="{{ settings.predictive_search_unavailable }}"
								data-types="{{ result_types }}"
							>
						{%- endif -%}

							<form action="{{ routes.search_url }}" method="get" role="search" class="search">
								<div class="field">
									<input
										type="search"
										id="search-input"
										name="q"
										value="{{ search.terms | escape }}"
										class=""
										placeholder="{{ 'templates.search.input_label' | t }}"
										{%- if settings.predictive_search_enabled -%}
											role="combobox"
											aria-expanded="false"
											aria-owns="predictive-search-results-list"
											aria-controls="predictive-search-results-list"
											aria-haspopup="listbox"
											aria-autocomplete="list"
											autocorrect="off"
											autocomplete="off"
											autocapitalize="off"
											spellcheck="false"
										{%- endif -%}
									>
									<label for="search-input" class="visually-hidden">{{ 'templates.search.input_label' | t }}</label>
									<input name="options[prefix]" type="hidden" value="last">
									<button type="submit" class="button icon-left">
										<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path d="M19.4697 20.5303C19.7626 20.8232 20.2374 20.8232 20.5303 20.5303C20.8232 20.2374 20.8232 19.7626 20.5303 19.4697L19.4697 20.5303ZM16.3336 15.273C16.0407 14.9801 15.5659 14.9801 15.273 15.273C14.9801 15.5659 14.9801 16.0408 15.273 16.3336L16.3336 15.273ZM10.5 17.25C6.77208 17.25 3.75 14.2279 3.75 10.5H2.25C2.25 15.0563 5.94365 18.75 10.5 18.75V17.25ZM3.75 10.5C3.75 6.77208 6.77208 3.75 10.5 3.75V2.25C5.94365 2.25 2.25 5.94365 2.25 10.5H3.75ZM10.5 3.75C14.2279 3.75 17.25 6.77208 17.25 10.5H18.75C18.75 5.94365 15.0563 2.25 10.5 2.25V3.75ZM17.25 10.5C17.25 14.2279 14.2279 17.25 10.5 17.25V18.75C15.0563 18.75 18.75 15.0563 18.75 10.5H17.25ZM20.5303 19.4697L16.3336 15.273L15.273 16.3336L19.4697 20.5303L20.5303 19.4697Z"/>
										</svg>
										<p class="search-text">{{ 'templates.search.button_label' | t }}</p>
									</button>

									{%- if settings.predictive_search_enabled -%}
										<div class="predictive-search predictive-search-header" tabindex="-1" data-predictive-search>
											<div class="predictive-search-loading-state">
												<span class="spinner-sm"></span>
											</div>
										</div>

										<span class="predictive-search-status visually-hidden" role="status" aria-hidden="true"></span>
									{%- endif -%}

								</div>
							</form>

						{%- if settings.predictive_search_enabled -%}
							</predictive-search>
						{%- endif -%}

					</div>
				{% endif %}
			</div>

			{%- if search.performed and search.results_count > 0 or search.filters != empty -%}

				{% if section.settings.enable_filtering == false or search.filters == empty %}
					{% assign renders_filters = false %}
				{% else %}
					{% assign renders_filters = true %}
				{% endif %}

				<facet-filters-form>
					<form id="FacetsFilterForm" class="facets-form"></form>
					<div
						{% if renders_filters %}
							class="facets-wrap page-layout-with-sidebar page-layout-with-sidebar-drawer"
						{% else %}
							class="facets-wrap page-layout page-layout-fullwidth"
						{% endif %}
					>
						<div class="page-layout-main-content">

							{%- if search.terms -%}
								<input type="hidden" name="q" value="{{ search.terms | escape }}" form="FacetsFilterForm">
								<input name="options[prefix]" type="hidden" value="last" form="FacetsFilterForm">
							{%- endif -%}

							{% if search.results_count > 0 %}
								{% render 'search-actions',
									results: search,
									enable_sorting: section.settings.enable_sorting,
									enable_filters: renders_filters,
									enable_product_count: section.settings.show_product_count,
									color_scheme: section.settings.filters_bar_color_scheme,
									sticky: section.settings.filters_bar_sticky
								%}
							{% endif %}

							<div id="ProductGridContainer">
								{% if search.results_count == 0 and search.filters != empty %}
									{%- liquid
										assign sort_by = search.sort_by | default: search.default_sort_by
										if search.url
											assign results_url = search.url
										else
											assign terms = search.terms | escape
											assign results_url = '?q=' | append: terms | append: '&options%5Bprefix%5D=last&sort_by=' | append: sort_by
										endif
									-%}

									<div class="page-hero page-hero-empty">
										<h1 class="page-hero-heading">
											{{ 'templates.search.no_results_title' | t }}
										</h1>

										<div class="page-hero-caption" role="status">
											{{ 'templates.search.use_fewer_filters_html' | t: link: results_url, class: 'button-text-link' }}
										</div>
									</div>
								{% endif %}

								{%- paginate search.results by section.settings.results_per_page -%}
									<div class="collection">
										<div class="loading-overlay"></div>
										<ul
											id="product-grid"
											class="product-grid
												grid
												{% if settings.products_two_column_mobile %}grid-2-col{% else %}grid-1-col{% endif %}
												grid-3-col-tablet
												{% if section.settings.desktop_product_columns == '4' %}grid-4-col-desktop{% endif %}
												{% if section.settings.desktop_product_columns == '5' %} grid-compact grid-5-col-desktop{% endif %}"
											data-id="{{ section.id }}"
										>
											{% for item in search.results %}
												{% liquid
													assign lazyload = false
													if forloop.index > 4
														assign lazyload = true
													endif
												%}
												<li class="grid-item">
													{% case item.object_type %}
														{% when 'product' %}
															{% render 'card-product',
																card_product: item,
																show_vendor: section.settings.show_vendor,
																show_stock: section.settings.show_stock,
																show_rating: section.settings.show_rating,
																show_add_to_cart: settings.products_show_add_to_cart,
																mobile_two_columns: settings.products_two_column_mobile,
																event_context: 'SearchPage',
																lazyload: lazyload
															%}
														{% when 'article' %}
															{% render 'card-article',
																article: item,
																show_image: true,
																show_date: section.settings.article_show_date,
																show_author: section.settings.article_show_author,
																show_excerpt: true,
																is_card: true
															%}
														{% when 'page' %}
															{% render 'card-page',
																page: item,
																show_excerpt: true,
																is_card: true
															%}
													{% endcase %}
												</li>
											{% endfor %}
										</ul>
									</div>

									{%- if paginate.pages > 1 -%}
										{%- if settings.products_pagination == "ajax" -%}
											<ajax-paginate>
										{%- endif -%}
										{% render 'pagination', paginate: paginate, anchor: '' %}
										{%- if settings.products_pagination == "ajax" -%}
											</ajax-paginate>
										{%- endif -%}
									{%- endif -%}
								{% endpaginate %}
							</div>

						</div>

						{% if section.settings.enable_filtering and search.filters != empty %}
							{% render 'collection-filters',
								results: search,
								side_menu_title: section.settings.side_menu_title,
								side_menu: section.settings.side_menu,
								hide_empty_filters: section.settings.hide_empty_filters,
								filters_enabled: renders_filters
							%}
						{% endif %}
					</div>
				</facet-filters-form>

			{%- endif -%}
		</div>
	</div>
</div>

{% schema %}
{
  "name": "t:sections.main_search.name",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "range",
      "id": "results_per_page",
      "min": 8,
      "max": 48,
      "step": 1,
      "default": 24,
      "label": "t:sections.main_search.settings.results_per_page.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.layout.heading"
    },
    {
      "type": "select",
      "id": "desktop_product_columns",
      "label": "t:sections.all.layout.desktop_columns.label",
      "default": "4",
      "options": [
        {
          "value": "3",
          "label": "3"
        },
        {
          "value": "4",
          "label": "4"
        },
        {
          "value": "5",
          "label": "5"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:sections.main_search.settings.header_1.content"
    },
    {
      "type": "checkbox",
      "id": "enable_filtering",
      "default": true,
      "label": "t:sections.main_search.settings.enable_filtering.label",
      "info": "t:sections.main_search.settings.enable_filtering.info"
    },
    {
      "type": "checkbox",
      "id": "show_product_count",
      "default": true,
      "label": "t:sections.main_search.settings.show_product_count.label"
    },
    {
      "type": "checkbox",
      "id": "enable_sorting",
      "default": true,
      "label": "t:sections.main_search.settings.enable_sorting.label"
    },
    {
      "type": "checkbox",
      "id": "hide_empty_filters",
      "default": false,
      "label": "t:sections.main_search.settings.hide_empty_filters.label",
      "info": "t:sections.main_search.settings.hide_empty_filters.info"
    },
    {
      "type": "checkbox",
      "id": "filters_bar_sticky",
      "default": false,
      "label": "t:sections.all.layout.filters_bar_sticky.label",
      "info": "t:sections.all.layout.filters_bar_sticky.info"
    },
    {
      "type": "select",
      "id": "filters_bar_color_scheme",
      "label": "t:sections.main_search.settings.filters_bar_color_scheme.label",
      "default": "background-2",
      "options": [
        {
          "value": "accent-1",
          "label": "t:sections.all.colors.accent_1.label"
        },
        {
          "value": "accent-2",
          "label": "t:sections.all.colors.accent_2.label"
        },
        {
          "value": "accent-3",
          "label": "t:sections.all.colors.accent_3.label"
        },
        {
          "value": "background-1",
          "label": "t:sections.all.colors.background_1.label"
        },
        {
          "value": "background-2",
          "label": "t:sections.all.colors.background_2.label"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:sections.main_search.settings.header_2.content"
    },
    {
      "type": "checkbox",
      "id": "article_show_date",
      "default": true,
      "label": "t:sections.main_search.settings.article_show_date.label"
    },
    {
      "type": "checkbox",
      "id": "article_show_author",
      "default": false,
      "label": "t:sections.main_search.settings.article_show_author.label"
    },
    {
      "type": "header",
      "content": "t:sections.main_search.settings.header_3.content"
    },
    {
      "type": "checkbox",
      "id": "show_vendor",
      "default": true,
      "label": "t:sections.main_search.settings.show_vendor.label"
    },
    {
      "type": "checkbox",
      "id": "show_stock",
      "default": true,
      "label": "t:sections.main_search.settings.show_stock.label"
    },
    {
      "type": "checkbox",
      "id": "show_rating",
      "default": false,
      "label": "t:sections.main_search.settings.show_rating.label",
      "info": "t:sections.main_search.settings.show_rating.info"
    }
  ]
}
{% endschema %}
